*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

button {
    background-color: transparent;
    border: 2px solid #4caf50;
    color: #4caf50;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    margin: 0 5px;
    width: calc(100% - 28px);

}


button:hover {
    background-color: #4caf50;
    color: white;
}


.forms {
    display: flex;
    flex-direction: column;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 22px);
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        font-size: 14px;
    }
}

